.text-input {
  height: 37px;
  width: 320px;
}

.text-input .overlap-group-8 {
  height: 38px;
  position: relative;
  top: -1px;
}

.text-input .accedi-button {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 8px;
  height: 32px;
  left: 24px;
  position: absolute;
  top: 6px;
  width: 296px;
}

.text-input .rectangle-2 {
  background-color: #ffffff;
  height: 5px;
  left: 39px;
  position: absolute;
  top: 6px;
  width: 28px;
}

.text-input .email {
  background: transparent;
  border: none;
  color: #333437b2;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  height: 9px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 106px;
}
