.bases-checkbox {
  align-items: center;
  display: flex;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 16px;
}

.bases-checkbox .thumb {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 16px;
}

.bases-checkbox .class {
  margin-bottom: -4px !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
  margin-top: -4px !important;
}

.bases-checkbox .class-2 {
  height: 2px !important;
  opacity: 0 !important;
  width: 2px !important;
}

.bases-checkbox .enabled-false {
  background-color: var(--white);
  border: 1px solid;
  border-color: #333437;
}

.bases-checkbox .enabled-true {
  background-color: #333437;
}
