:root {
  --black: rgba(0, 0, 0, 1);
  --body-1-normal-font-family: "Jost", Helvetica;
  --body-1-normal-font-size: 16px;
  --body-1-normal-font-style: normal;
  --body-1-normal-font-weight: 400;
  --body-1-normal-letter-spacing: 0px;
  --body-1-normal-line-height: 150%;
  --gray-700: rgba(97, 97, 97, 1);
  --variable-collection-bilancio-negativo: rgba(240, 25, 25, 1);
  --variable-collection-bilancio-negativo-2: rgba(241, 51, 51, 1);
  --variable-collection-bilancio-negativo-2-90: rgba(241, 51, 51, 0.9);
  --variable-collection-bilancio-positivo: var(--variable-collection-smart-budget-main-theme);
  --variable-collection-notion-title: rgba(51, 52, 55, 1);
  --variable-collection-smart-budget-main-theme: rgba(56, 160, 255, 1);
  --variable-collection-testo-secondario: rgba(118, 118, 118, 1);
  --white: rgba(255, 255, 255, 1);
}
