.lista {
  align-items: center;
  box-shadow: 0px 0px 4px #00000040;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
}

.lista .transaction-instance {
  position: relative !important;
}

.lista .element {
  background-color: #ffffff;
  border-radius: 10px;
  height: 59px;
  position: relative;
  width: 290px;
}

.lista .overlap-3 {
  height: 34px;
  left: 16px;
  position: relative;
  top: 15px;
  width: 262px;
}

.lista .text-wrapper-22 {
  color: var(--variable-collection-notion-title);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 143px;
}

.lista .div-wrapper {
  height: 18px;
  left: 127px;
  position: absolute;
  top: 1px;
  width: 135px;
}

.lista .overlap-group-4 {
  height: 23px;
  left: -5px;
  position: relative;
  top: -1px;
  width: 140px;
}

.lista .text-wrapper-23 {
  color: #a5a5a5;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.lista .text-wrapper-24 {
  color: var(--variable-collection-notion-title);
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 18px;
  left: 104px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 36px;
}

.lista .overlap-4 {
  height: 34px;
  left: 16px;
  position: relative;
  top: 11px;
  width: 262px;
}

.lista .saldo-2 {
  height: 18px;
  left: 127px;
  position: absolute;
  top: 5px;
  width: 135px;
}

.lista .text-wrapper-25 {
  color: var(--variable-collection-bilancio-positivo);
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 110px;
}

.lista .overlap-5 {
  height: 33px;
  left: 16px;
  position: relative;
  top: 14px;
  width: 262px;
}

.lista .saldo-3 {
  height: 18px;
  left: 127px;
  position: absolute;
  top: 2px;
  width: 135px;
}

.lista .overlap-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 338px;
  width: 290px;
}
