.bottom-bar {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #ffffff;
  box-shadow: 0px -0.5px 0px #0000001a;
  height: 56px;
  width: 360px;
}

.bottom-bar .tabs-wrapper {
  background-color: #389fff;
  height: 56px;
  width: 361px;
}

.bottom-bar .tabs {
  height: 56px;
  width: 360px;
}

.bottom-bar .home-tab {
  height: 49px;
  left: 149px;
  position: relative;
  width: 76px;
}

.bottom-bar .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 1px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.bottom-bar .icon-home {
  height: 24px;
  left: 26px;
  position: absolute;
  top: 7px;
  width: 24px;
}

.bottom-bar .subtract {
  height: 22px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 20px;
}
