.top-bar {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #ffffff;
  box-shadow: 0px -0.5px 0px #0000001a;
  height: 56px;
  width: 360px;
}

.top-bar .overlap-group-6 {
  height: 56px;
}

.top-bar .tabs-2 {
  height: 49px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.top-bar .home-tab-2 {
  height: 49px;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 76px;
}

.top-bar .text-wrapper-34 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 24px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.top-bar .instance-node {
  height: 24px;
  left: 26px;
  position: absolute;
  top: 7px;
  width: 24px;
}

.top-bar .subtract-2 {
  height: 22px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 20px;
}

.top-bar .transazioni-2 {
  height: 49px;
  left: 95px;
  position: absolute;
  top: 0;
  width: 76px;
}

.top-bar .text-wrapper-35 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 12px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.top-bar .conti-2 {
  height: 49px;
  left: 188px;
  position: absolute;
  top: 0;
  width: 76px;
}

.top-bar .text-wrapper-36 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 26px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.top-bar .statistiche-2 {
  height: 49px;
  left: 283px;
  position: absolute;
  top: 0;
  width: 76px;
}

.top-bar .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 14px;
  letter-spacing: -0.24px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  white-space: nowrap;
}

.top-bar .background-2 {
  background-color: #389fff;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.top-bar .tabs-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 19px;
  left: 0;
  position: absolute;
  top: 0;
}

.top-bar .home-tab-3 {
  height: 49px;
  position: relative;
  width: 76px;
}

.top-bar .div-2 {
  height: 49px;
  opacity: 0.5;
  position: relative;
  width: 76px;
}

.top-bar .home {
  position: relative;
  width: 362px;
}

.top-bar .transazioni {
  background-color: #389fff;
  width: 361px;
}

.top-bar .conti {
  background-color: #389fff;
  width: 361px;
}

.top-bar .statistiche {
  background-color: #389fff;
  width: 361px;
}

.top-bar .overlap-group-6.conti .transazioni-2 {
  opacity: 0.5;
}

.top-bar .overlap-group-6.statistiche .transazioni-2 {
  opacity: 0.5;
}

.top-bar .overlap-group-6.transazioni .conti-2 {
  opacity: 0.5;
}

.top-bar .overlap-group-6.statistiche .conti-2 {
  opacity: 0.5;
}

.top-bar .overlap-group-6.transazioni .statistiche-2 {
  opacity: 0.5;
}

.top-bar .overlap-group-6.conti .statistiche-2 {
  opacity: 0.5;
}
