.tipo-transazione {
  align-items: flex-end;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #33343780;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 36px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 5px;
  position: relative;
  width: 77px;
}

.tipo-transazione .uscita {
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 9px;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  margin-bottom: -1.5px;
  margin-top: -3.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 62px;
}

.tipo-transazione .icon {
  height: 10px;
  left: 11px;
  position: absolute;
  width: 8px;
}

.tipo-transazione .entrata-true {
  color: #389fff;
}

.tipo-transazione .entrata-false {
  color: #ac2b2b;
}

.tipo-transazione .entrata-0-true {
  top: 14px;
}

.tipo-transazione .entrata-0-false {
  top: 13px;
}
